* { margin: 0; 
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;}

    @media only screen and (min-width: 992px) {
        .topNav{flex-direction: row;}
        .topNav li:first-child { display: none;}
        .topNav li { display: block; flex: 1 1 auto;}	
        .topNav li a { color: white;}
       
        .row {display:block;
                column-count: 5;
                text-align: center;
                column-gap: 0px;
                margin: 50px;
        } 
        .column{align-content: center;}   
        .column{border:2px solid rgb(84, 179, 66);}
        .column h3 {display: block;
               padding: 10px;
                background-color: rgb(10, 117, 6);
                color:white;
        }
        .column p {display: block;
      }
     
        
        


        .grid{
                grid-template-columns: 1fr 1fr 1fr;
        }
        .grid figcaption{
                display:none;
        }
        
        .grid figure:hover {box-shadow: 0 0 50px #333;}
        .grid figure:hover  figcaption{display: block;}
}

