*{
  box-sizing: border-box;
  margin:0px;
  font-family: 'Ubuntu', sans-serif}

header, main, footer, table {
  margin: 0rem auto;
  padding: .5rem;
  max-width: 400px;}


table {
  table-layout: auto;
  padding: 25px;
  width:100%;
 
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;

}
th, td {
  padding: 15px;
  text-align: center;
}

tbody#t01 tr:nth-child(even) {
  background-color: #e7f0ed;
}
tbody#t01 tr:nth-child(odd) {
 background-color: #e7ffed;
}
tbody#t01 th, .gmade {
  background-color: #628ca6;
  color: white;
}
tbody#to1 {
  font-weight: bold;
}

thead tr td, tfoot tr td{
  background-color:#7fb9c2;
  text-align: center;
}

.blfri {
  font-style: italic;
}


