* { margin: 0; 
    box-sizing: border-box; 
    font-family: 'Cabin', sans-serif;
}
img {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    
}.hero-image {
    background-size: cover;
}

body {
    font-size: 16px;
    line-height: 32px;
    font-family: sans-serif;
    color: black;
}
h1 {
    text-align: center;
    font-size: 2.0rem;
    color: midnightblue;
}
h2 {
    text-align: center;
    
}
header, main, footer, nav {
    margin: 0rem auto;
    padding: 0rem;
    max-width: 100%;
}
header, footer, footer a, nav {
    text-align: center;
    background-color: gray;
    color:whitesmoke;
}
.headerimage {
    width:  50px;
    float: left;
    margin-left: 60px;
}
 .headings {
	display: inline-block;
	vertical-align: center;
    margin: 0px;
    padding: 10px;
}
.headings {
    max-width: 100%;
}
.overlay {
    margin: 10px auto;position: relative;
}
.weathersummary {
    position: absolute;
	top: 25px;
	left: 50px;
	background: rgba(6, 122, 45, 0.8);
	border: 1px solid #000;
	padding: 1.5rem;
	box-shadow: 0 0 30px #fff;
}
footer {
    font-size: 8px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
}
footer section {
background-color: black;
max-width: 100%;
}
nav {
display: block;
background-color:rgb(12, 12, 54);
position: relative;
  align-content: center;
  width: 100%;
}
button {
    background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
align-content: center;
width: 100%;
}
ul {
    list-style-type: none;
    padding: 0px;
    display: none;
    
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
a {
    color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#active {
    background-color: #4CAF50;
    color: white;
    max-width: 100%;
}
nav:hover ul {
    display: block;
}
article {
    background-color:rgb(235, 228, 220);
    color: rgb(45, 33, 153);
    margin: .5rem;
    padding:.5rem;
}
.articlediv{
    margin: 10px auto;position: relative;
}
article p {
    line-height: 20px;
}


h3, #author {
    line-height: 15px;
}
.column h3   {display: block;}
.column p {display: none;}